{% extends 'booking/layout.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="features">
    <h1>О нас</h1>
    <p>В частности, сложившаяся структура организации требует анализа
        экспериментов, поражающих по своей масштабности и грандиозности.
        Однозначно, предприниматели в сети интернет освещают чрезвычайно
        интересные особенности картины в целом, однако конкретные выводы,
        разумеется, превращены в посмешище, хотя само их существование приносит
        несомненную пользу обществу.</p>
</div>
{% endblock %}
